<!DOCTYPE html>
<html>
<head>
	<title>StratHabari</title>
</head>
<body>

<p>Hi There!</p>
<p>It Works!</p>

<div class="row">
					<div class="col-md-6">						
								<h2>Who We Are</h2>
								<p>The Leading Chauffeur Services in East Africa</p>
							</div>
							<p>First Class Cars Concierge founded in 2014 is <u><b>Kenya’s Number One</b></u> luxury chauffeured car service. We offer local, outstation and airport transfer packages spread across multiple vehicle categories from Mercedes S-Class sedans, to Range Rover SUV's to Mercedes V-Class MPVs. </p>							
						</div>
					</div>
					<div class="col-md-6">
					<div class="mg-about-us-txt">
					<p>All our vehicles are carefully selected, luxurious, fully air-conditioned and have all the modern optional extras one expects. We also assist with any lifestyle requests that will make the journey with us memorable. This includes having onboard a bottle of your favourite champagne cooling at the exactly right temperature, to an iPhone Lighting Dock, to scheduling a haircut or making a booking at a golf club. Our ultimate goal is to make you as comfortable, as well served and as well taken care of as possible. We employ highly trained chauffeurs’ who have more than ten years of driving experience and extensive knowledge of the country’ road network. They take great pride in their work, are smart in appearance, intelligent and courteous. Our focus is on you in everything that we do. <p> When it comes to first class treatment, First Class Cars Concierge is unmatched in luxury and convenience.</p>
					</div>				
</body>
</html>